<h1>New toy</h1>

<%= render "form", toy: @toy %>
<!-- renders a form to create a new toy at _form.html.erb and it is feeding a toy into form -->

<br>

<div>
  <%= link_to "Back to toys", toys_path %>
</div>
