<div id="<%= dom_id user_location %>">
  <p>
    <strong>User:</strong>
    <%= user_location.user_id %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user_location.location_id %>
  </p>

</div>
