<p style="color: green"><%= notice %></p>

<h1>User locations</h1>

<div id="user_locations">
  <% @user_locations.each do |user_location| %>
    <%= render user_location %>
    <p>
      <%= link_to "Show this user location", user_location %>
    </p>
  <% end %>
</div>

<%= link_to "New user location", new_user_location_path %>
