<h1>Editing toy status</h1>

<%= render "form", toy_status: @toy_status %>

<br>

<div>
  <%= link_to "Show this toy status", @toy_status %> |
  <%= link_to "Back to toy statuses", toy_statuses_path %>
</div>
